<app-header titulo="Date Time"></app-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-item>
        <ion-label>Datos de Nacimiento</ion-label>
      </ion-item>
    </ion-list-header>
    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-datetime placeholder="Nacimiento"
                    value="{{ fechaNaci | date: 'yyyy-MM-dd' }}"
                    display-format="YYYY-MMMM-DD"
                    cancelText="Cancelar!!"
                    (ngModel)="fechaNaci.toISOString()"
                    (ionChange)="cambioFecha($event)">
      </ion-datetime>
    </ion-item>
  </ion-list>

</ion-content>
