<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot='start'>
        <ion-back-button defaultHref="/" text="Regresar"> </ion-back-button>
    </ion-buttons>

    <ion-title>Botones</ion-title>

    <ion-buttons slot='end'>
        <ion-button routerLink="/alert" color="primary">
          <ion-icon name="star"></ion-icon>
        </ion-button>
        <ion-button routerLink="/inicio" color="primary">
          <ion-icon name="heart"></ion-icon>
        </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Botones normales -->
  <ion-button size = "small" expand = "full">small</ion-button>
  <ion-button size = "default" expand = "full">Default</ion-button>
  <ion-button size = "large" expand = "full">large</ion-button>

  <!-- Anchor -->

  <ion-button class = "top-20" expand= "full" routerLink="/alert" color="tertiary" >
    Anchor
  </ion-button>

  <!-- gril -->
  <ion-row>
    <ion-col>
      <ion-button expand= "full" routerLink="/avatar" color="tertiary">
        Avatar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand= "full" routerLink="/action-sheet" color="tertiary">
        Action Sheet
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- fill -->

  <ion-button fill="clear">Clear</ion-button>
  <ion-button fill="outline">Outline</ion-button>
  <ion-button fill="solid">Solid</ion-button>

</ion-content>
