<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="Back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Search Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar  color="light"
                  (ionChange)="buscar($event)">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let albun of albunes">
      <label slot="start">{{albun.id}}</label>
      <p>{{albun.title}}</p>
    </ion-item>
  </ion-list>
</ion-content>
