<ion-header class="ion-no-border" [ngClass]="ocultar">
  <ion-toolbar>
    <img src= "/assets/slides/user-6.svg" class="avatar animated fadein">
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-slides pager ="true" class="slide-full" scrollbar="true">
  <ion-slide *ngFor="let slide of slides">
    <ion-card mode="ios">
      <img [src]="slide.img" class="slide-image">
      <ion-card-header>
        <ion-title> {{slide.titulo}} </ion-title>
      </ion-card-header>
      <ion-card-content>
        {{slide.desc}}
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-button expand ="full"
                color="primary"
                fill="clear"
                (click)="onClick()">
              !Comenzar
    </ion-button>
  </ion-slide>
</ion-slides>


</ion-content>
